/* Normal desktop :1200px. */
@media (min-width: 1200px) and (max-width: 1500px) {


}


/* Normal desktop :992px. */
@media (min-width: 992px) and (max-width: 1200px) {
    .l-middle-title{
        font-weight: 600;
        font-size: 25px;
    }
    /* ============Defult CSS=============== */

    .carousel-caption {
        bottom: 150px !important;
    }
    .btn.btn-primary.slider-btn {
        padding: 10px 25px;
    }
    .carousel-caption p {
        font-size: 15px;
        line-height: 18px;
    }
    .carousel-caption h2 {
        font-size: 40px;
        line-height: 40px;
    }
        /* Elearning Institute */
        .lear-right-side img {
            margin-left: 0px;
        }
        .lear-left-side {
            padding: 0;
            margin-top: 20px;
        }
        /* Ready to join Section Style */
    .ready-join {
    padding: 20px
    
    }
    .join-deatils h4 {
        font-size: 25px;
        line-height: 30px;
    }
    .join-btn {
    float: none;
    }
    .ready-join {
        text-align: center;
    }


}

 
/* Tablet desktop :768px. */
@media (min-width: 768px) and (max-width: 991px) {
    .l-middle-title{
        font-weight: 600;
        font-size: 25px;
    }
    /* ============Defult CSS=============== */

    .carousel-caption {
        bottom: 110px !important;
    }
    .btn.btn-primary.slider-btn {
        padding: 3px 14px;
    }
    .carousel-caption p {
        font-size: 13px;
        line-height: 18px;
    }
    .carousel-caption h2 {
        font-size: 40px;
        line-height: 40px;
    }
    /* Populer Course Section */
    .course-title h2 {
        font-size: 32px;
        line-height: 39px;
    }
    .course-title p {
        font-size: 15px;
        line-height: 22px;
    }
    /* Elearning Institute */
    .lear-right-side img {
        margin-left: 0px;
    }
    .lear-left-side {
        padding: 0;
        margin-top: 20px;
    }
    /* Ready to join Section Style */
    .ready-join {
    padding: 20px
    
    }
    .join-deatils h4 {
        font-size: 25px;
        line-height: 30px;
    }
    .join-btn {
    float: none;
    }
    .ready-join {
        text-align: center;
    }

}

 
/* small mobile :320px. */
@media (max-width: 767px) {

 
}
 
/* Large Mobile :480px. */
@media only screen and (min-width: 375px) and (max-width: 767px) {
.main-title{
    font-size: 32px;
    line-height: 39px;
}
.l-middle-title{
    font-size: 25px;
    line-height: 38px;
}
/* ============Defult CSS=============== */

/* Banner Section */
.carousel-caption {
    bottom: 10px !important;
}
.btn.btn-primary.slider-btn {
    padding: 3px 14px;
}
.carousel-caption p {
    font-size: 12px;
    line-height: 15px;
}
.carousel-caption h2 {
    font-size: 20px;
    line-height: 20px;
}
/* Populer Course Section */
.course-title h2 {
    font-size: 22px;
}
.course-title p {
    font-size: 12px;
    line-height: 22px;
}
.single-popular-course {
    display: block;
}
/* Elearning Institute */
.l-middle-section {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    align-content: center;
}
.lear-right-side img {
    margin-left: 0px;
}
.lear-left-side {
    padding: 0;
    margin-top: 20px;
}
/* Ready to join Section Style */
.ready-join {
padding: 20px

}
.join-deatils h4 {
    font-size: 25px;
    line-height: 30px;
}
.join-btn {
float: none;
}
.ready-join {
    text-align: center;
}
}